@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");
@import url(//db.onlinewebfonts.com/c/ec9c69b803f20a95deb88c41b74e5a62?family=Ambroise);
@font-face {
  font-family: "Amb";
  src: url("//db.onlinewebfonts.com/t/ec9c69b803f20a95deb88c41b74e5a62.eot");
  src: url("//db.onlinewebfonts.com/t/ec9c69b803f20a95deb88c41b74e5a62.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/ec9c69b803f20a95deb88c41b74e5a62.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/ec9c69b803f20a95deb88c41b74e5a62.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/ec9c69b803f20a95deb88c41b74e5a62.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/ec9c69b803f20a95deb88c41b74e5a62.svg#Ambroise")
      format("svg");
}
.test:hover {
  animation: fadeout 0.2s ease-out forwards;
}

.urke {
  animation: fadeout 0.4s forwards;
}

.velja {
  animation: fadein 0.4s forwards;
}

.japa {
  animation: opacityAnim 0.4s forwards;
}

.odzi {
  animation: opacityAnimReverse 0.4s forwards;
}

@keyframes opacityAnimReverse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes opacityAnim {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    transform: translateY(0%);
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
